<div class="row justify-content-center">
    <div class="col-sm-6">
        <div id="form">
            <button type="button" class="btn btn-primary step" data-step="1">Step 1</button>
            <button type="button" class="btn btn-primary step" data-step="2">Step 2</button>
            <button type="button" class="btn btn-primary step" data-step="3">Step 3</button>

            <div id="steps"></div>

            <button type="button" class="btn btn-primary next float-right">Forwards</button>
            <button type="button" class="btn btn-primary prev float-left">Backwards</button>

        </div>
    </div>
</div>
